<h2>Courses</h2>

<ul id="courses">
	<p><%= link_to "new", new_course_path() %></p>
	<%= render @courses %>
	<%# Equivalent to... %>
	<%# @courses.each do |course| %>
		<%#= render "course", {:course => course} %>
	<%# end %>

</ul>